/*-------------
    -==  bariables=>master   ==-
---------------------*/

// Font - Variables
$fontfamily_head: 'Baloo 2', cursive;
$fontfamily: 'Montserrat', sans-serif;
// $fontfamily: 'Lato', sans-serif;
// $fontfamily_head: 'Ubuntu', sans-serif;

$fontsize: 1.1em;
