@import 'var';
@import '_reset';
@import '_nav';
@import '_animation';

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontfamily_head;
    font-weight: normal;
  }

  p,
  a,
  li,
  ul {
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: 400;
  }
}

// =========== Main
.main {
  margin: 0 auto;
  width: 90vw;

  .vh-full {
    height: 100vh;
    width: 100%;

    p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }
  }
}

.register-formular {
  // display: block;
  width: 75vw;
  margin: 0 auto;
  text-align: center;
  font-family: $fontfamily_head;
  font-weight: bold;
  font-size: 1.15em;
}
.register-input {
  margin: 10px 0;

  input {
    font-weight: normal;
    // border: 0;
    border-radius: 25em;
    padding: 3px 15px;
  }
  label {
    display: block;
  }
}

.scroller {
  position: fixed;
  top: 50vh;
  left: 1vw;
  background-color: #212121;
  color: #fff;
  padding: 7px 35px;
}

.button {
  &.dark-single {
    --background: none;
    --rectangle: #242836;
    --success: #4bc793;
  }
  &.white-single {
    --background: none;
    --rectangle: #f5f9ff;
    --arrow: #275efe;
    --success: #e898cf;
    --shadow: rgba(10, 22, 50, 0.1);
  }
  &.dark {
    --background: #1e275b;
    --rectangle: #1e275b;
    --arrow: #f5f9ff;
    --text: #f5f9ff;
    --success: #1e275b;
  }
}

.button {
  --background: #275efe;
  --rectangle: #184fee;
  --success: #{mix(white, #184fee, 20%)};
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, 0.24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  // height: 25px;

  &:active {
    transform: scale(0.95);
    box-shadow: 0 1px 4px -1px var(--shadow);
  }
  ul {
    margin: 0;
    padding: 16px 40px;
    list-style: none;
    text-align: center;
    position: relative;
    backface-visibility: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text);
    li {
      &:not(:first-child) {
        top: 16px;
        left: 0;
        right: 0;
        position: absolute;
      }
      &:nth-child(2) {
        top: 76px;
      }
      &:nth-child(3) {
        top: 136px;
      }
    }
  }
  & > div {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--rectangle);
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      border-radius: 1px;
      width: 2px;
      top: 50%;
      left: 50%;
      height: 17px;
      margin: -9px 0 0 -1px;
      background: var(--arrow);
    }
    &:after {
      width: 60px;
      height: 60px;
      transform-origin: 50% 0;
      border-radius: 0 0 80% 80%;
      background: var(--success);
      top: 0;
      left: 0;
      transform: scaleY(0);
    }
    svg {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      margin: -9px 0 0 -10px;
      fill: none;
      z-index: 1;
      stroke-width: 2px;
      stroke: var(--arrow);
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  &.loading {
    ul {
      animation: text calc(var(--duration) * 1ms) linear forwards
        calc(var(--duration) * 0.065ms);
    }
    & > div {
      &:before {
        animation: line calc(var(--duration) * 1ms) linear forwards
          calc(var(--duration) * 0.065ms);
      }
      &:after {
        animation: background calc(var(--duration) * 1ms) linear forwards
          calc(var(--duration) * 0.065ms);
      }
      svg {
        animation: svg calc(var(--duration) * 1ms) linear forwards
          calc(var(--duration) * 0.065ms);
      }
    }
  }
}

@keyframes text {
  10%,
  85% {
    transform: translateY(-100%);
  }
  95%,
  100% {
    transform: translateY(-200%);
  }
}

@keyframes line {
  5%,
  10% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-20px);
  }
  65% {
    transform: translateY(0);
  }
  75%,
  100% {
    transform: translateY(30px);
  }
}

@keyframes svg {
  0%,
  20% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  21%,
  89% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 26px;
    stroke-width: 3px;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  100% {
    stroke-dasharray: 26px;
    stroke-dashoffset: 0;
    margin: -10px 0 0 -10px;
    stroke: var(--checkmark);
  }
  12% {
    opacity: 1;
  }
  20%,
  89% {
    opacity: 0;
  }
  90%,
  100% {
    opacity: 1;
  }
}

@keyframes background {
  10% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(0.15);
  }
  65% {
    transform: scaleY(0.5);
    border-radius: 0 0 50% 50%;
  }
  75% {
    border-radius: 0 0 50% 50%;
  }
  90%,
  100% {
    border-radius: 0;
  }
  75%,
  100% {
    transform: scaleY(1);
  }
}

.register-social-media a {
  color: #212121;
  font-size: 1.55em;
  margin: 0 40px;
  transition: all 375ms;
  // padding: 25px 0 0 0;

  &:hover {
    color: #e898cf;
  }
}
.theme-settings {
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 1.7em;

  a {
    color: #000;
    transition: all 375ms;

    &:hover {
      color: #121735;
    }
  }
}

// Username infos
.username-float {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
